.container {
    position: relative;
    top: 80px;
    left: 300px;
}
body {
    background-image: url(images/bg.png);
}

.text {
    color: white;
    position: absolute;
    top: 100px;
    left: 50px;
    display: inline;
}
 .text2 {
     color: white;
     position: absolute;
     top: 100px;
     left: 230px;
 }

 .text3 {
     color:white;
     position: absolute;
     top: 100px;
     left: 400px;
 }

 .text4 {
     color: white;
     position: absolute;
     top: 250px;
     left:50px;
 }

 .text5 {
     color: white;
     position: absolute;
     top: 250px;
     left: 350px;
 }