.Hauptcontainer {
    position: relative;
    top: 80px;
    left: 300px;

}

body {
    background-image: url(images/bg.png);
    width: 100%;
}

.penguin {
    position: absolute;
    top: 230px;
    left: 470px;
}

.shell {
    position: absolute;
    top: 280px;
    left: -60px;
}

h1 {
    font-family: fantasy;
    color: white;
    position: absolute;
    display: inline;
    top: 25px;
    left: 70px;
}

.text {
    font-family: fantasy;
    color: white;
    position: absolute;
    display: inline;
    top: 150px;
    left: 70px;
}
