.container {
    position: relative;
    top: 80px;
    left: 300px;
}
body {
    background-image: url(images/bg.png);
}
.banderole {
    position: absolute;
    top: 277px;
    left: 370px;
}

.shell {
    position: absolute;
    top: 0px;
    left: 50px;
    animation-duration: 5s;
    animation-name: fall;
    animation-iteration-count: infinite;
}

@keyframes fall {
    from{
        top: 0px;
        left: 50px;
    }
    to{
        top: 300px;
        left: 50px;
    }
}

.shell2 {
    position: absolute;
    top: 0px;
    left: 250px;
    animation-duration: 3s;
    animation-name: fall2;
    animation-iteration-count: infinite;
}

@keyframes fall2 {
    from{
        top: 0px;
        left: 250px;
    }
    to{
        top: 300px;
        left: 250px;
    }
}

.Perle {
    position: absolute;
    top: 0px;
    left: 400px;
    animation-duration: 4s;
    animation-name: fall3;
    animation-iteration-count: infinite;
}

@keyframes fall3 {
    from{
        top: 0px;
        left: 400px;
    }
    to{
        top: 300px;
        left: 400px;
    }
}

h1 {
    font-family: fantasy;
    color: white;
    position: absolute;
    display: inline;
    top: 25px;
    left: 70px;
}
