body {
    background-image: url(images/bg.png);
    font-family: sans-serif;
    text-align: center;

}
h1 {
    color: brown;
    font-size: xx-large;
}
.icon {
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 200px;
    color: brown;
}
.icon:hover {
    color: black;
    opacity: 0.5;
}
.menu {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    right: 220px;
    border-radius: 10px 10px 10px 10px;
}
.menu a:hover {
    background: black;
    color: brown;
}

.auswahl {
    color: brown;
}
#Content {
    width: 800px;
    height: 150px;
    margin:  0 auto;
    text-align: center;
    display: block;
}

.anmelden {
    color: brown;
    font-size: 25px;
    width: 300px;
    padding: 3px 3px 3px 3px;
    
}
.Kontakt {
    color: white;
    background-color: gray;
    width: 300px;
    padding: 3px 3px 3px 3px;
}

.Nachricht {
    color: white;
    background-color: gray;
    width: 300px;
    padding: 3px 3px 3px 3px;
}
.Absenden {
    color: white;
    background-color: gray;
    width: 75px;
    padding: 3px 3px 3px 3px;
}
