.container {
    position: relative;
    top: 80px;
    left: 300px;

}
body {
    background-image: url(images/bg.png);
}

.muschel {
    background-image: url(images/muschel.png);
    position: absolute;
    top: 250px;
    left: 50px;
}

.muschel:hover {
    background-image: url(images/muschel_perle.png);
}